body{
    font: 0.8em Arial;
}
.chat .messages{
    border:1px solid #000;
    width: 260px;
    height: 210px;
    padding: 10px;
    overflow-y: scroll; 
}

.chat .messages a{
    color: slategrey;
}

.chat .entry{
    width:260px;
    height:40px;
    padding: 5px;
    margin-top:5px;
    font: 1em Arial;
}